<%- include('../partials/header'); %>

<div class="container my-3">
    
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <ul class="list-group">
                <li class="list-group-item active">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
            </ul>
        </div>
        <div class="col-md-8">
            <figure class="img-thumbnail">
                <img class="img-fluid" alt="Responsive image"src="<%= campground.image %>" >
                <figcaption class="figure-caption my-2 mx-1">
                    <h4 class="d-inline">
                        <a href=""><%= campground.name %></a>
                    </h4>
                    <h4 class="d-inline float-right">$<%= campground.price %>/night</h4>
                    <p><%= campground.description %></p>
                    <p>
                        <em>Submitted by <%= campground.author.username %></em>
                    </p>
                    <% if(curUser && campground.author.id.equals(curUser._id)){ %>
                        <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </figcaption>
            </figure>
            <div class="card bg-light">
                <div class="text-right">
                        <a class="btn btn-success my-2 mr-2" href="/campgrounds/<%= campground._id %>/comments/new">Add Comment</a>
                </div>
                <hr class="mt-0">
                <% campground.comments.forEach(function(comment){ %>
                    <div class="row mx-2">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="float-right">10 days ago</span>
                        </div>
                        <p class="col-md-12">
                            <%= comment.text %>
                        </p>
                        <% if(curUser && comment.author.id.equals(curUser._id)){ %>
                            <div>
                                <a class="btn btn-sm btn-warning" 
                                href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
                                edit</a>
                            </div>
                            <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        <% } %>
                    </div>
                    
                <% }) %>
            </div>
        </div>
    </div>
</div>




<%- include('../partials/footer'); %>